.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App button, .App input{
  margin: 5px 0px;
  width: 250px;
  padding: 0px;
}
